.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-right {
  position: absolute;
  bottom: 165px;
  right: 125px;
  font-size: 125px;
  color: #bdd4ff;
  font-family: 'Antonio', sans-serif;
}
